/build/
/.cxx/
/.idea/
/cache/

/src/main/sharedLibs/
/src/main/assets/models/
/src/sdk/native/
/src/main/onnx/
/src/main/onnxruntime-shared/
/src/main/onnxruntime-android/

*.skip
**/temp-extracted/
